extends layout

block content
  .container
      .header
        nav
          ul.nav.nav-pills
            li.nav-item.active
              a.nav-link(href="#") Link 1
            li.nav-item.active
              a.nav-link(href="#") Link 2
            li.nav-item.active
              a.nav-link(href="#") Link 3
    
    .jumbotron
      h1.display-3= title
      .blue
        p.lead
          | Here is some blue text
      .red
        p.lead
          | Here is some red text
      .green
        p.lead
          | What color should I be? Check the .scss file

    .row.marketing
      .col-lg-6
        p Large Column 1
      .col-lg-6
        p Large Column 2
    .row.marketing
      .col-md-6
        p Medium Column 1
      .col-lg-6
        p Medium Column 2
    .row.marketing
      .col-sm-4
        p small Column 1
      .col-sm-4
        p small Column 2
      .col-sm-4
        p small Column 3
    .row.marketing
      .col-xs-3
        p extra small Column 1
      .col-xs-3
        p extra small Column 2
      .col-xs-3
        p extra small Column 3
      .col-xs-3
        p extra small column 4