extends layout

block content
  .container
      .header.clearfix
        nav
          ul.nav.nav-pills.pull-xs-right
            li.nav-item.active
              a.nav-link(href="#") Link 1
            li.nav-item.active
              a.nav-link(href="#") Link 2
            li.nav-item.active
              a.nav-link(href="#") Link 3
        h3.text-muted
          | Project name

  h1= title
  .blue
    p
      | Here is some blue text
  .red
    p
      | Here is some red text
  .green
    p
      | What color should I be? Check the .scss file